body {
    padding-top: 60px;
}

#content {
    min-height: 700px;
}

.nav-tabs > li > a {
    margin-bottom: 0.5em;
}

.nav-tabs > li > a:hover {
    background-color: #0000BB;
}

footer {
    background-color: #222;
    color: #fff;
    margin-top: 2em;
    padding: 1em;
}

.scaling-parameter select {
    min-height: 300px;
    width: 100%;
}

.buttons {
    margin-top: 1rem;
}