#graph {
    font-family: sans-serif;
}

#graph rect {
    stroke: #000;
    fill: none;
}

#graph circle {
    fill: #fff;
    stroke: #000;
}

#graph text.index {
    font-size: 10px;
}

#graph .highlight circle {
    fill: #fc0;
}

#graph .cycle-start circle {
    fill: #f00;
}

#graph {
    min-height: 900px;
    width: 1200px;

    border: 2px solid black;
}