body {
    background-image: url('../images/subtle.png');
}

#login-form {
    border: 1px solid #c9c9c9;
    box-shadow: 0 0 10px #333;
    background-color: #fff;
    display: block;
    margin: 0 auto;
    padding: 5em 2em;
}

#login-form img {
    margin-bottom: 5em;
}

.alert {
    margin: 3em 0 0;
}